<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Datacom Assessment Exercise" >
   <test thread-count="5" name="Test">
         <classes>
             <class name = "TC1_Test"/>
             <class name = "TC2_Test"/>
             <class name = "TC3_Test"/>
             <class name = "TC4_Test"/>
             <class name = "TC5_Test"/>
         </classes>
   </test> <!-- Test -->
</suite> <!-- Suite -->